{% extends "follower/base.html" %}

{% block content %}

<table class="base-table">
<thead>
<tr class="table-header">
<th class="table-header"></th>
<th class="table-header">User</th>
<th class="table-header">Last Changeset Date</th>
<th class="table-header">First Edit Date</th>
<th class="table-header">Edit Count</th>
</tr>
</thead>
<form action="/list/list_action", method="get">

{% for m in tracker_list %}
<tr class="{% cycle 'table-row-even' 'table-row-odd' %}">
  <td class="checkbox" >
    <input type="checkbox" name="mapper_selected_{{m.id}}"/>
  </td>
  <td class="user_name" >
   <a href="/mapper/{{m.id}}">{{m.user}}</a>
  </td>
  <td class="date">
     {{m.edit_date|date:"Y-m-d" }}
  </td>
   <td class="date">
     {{m.first_edit_date|date:"Y-m-d" }}
  </td>
  <td>
    {{m.min_edit_count}}
  </td>
</tr>
{% endfor %}
</table>
<div class="button-list">
<input type="submit" name="action" value="reach out" />
<form action="/mapper/create" method="GET">
<input type="submit" name="action" value="new mapper"/>
</form>
</div>
</form>

{% endblock %}
