{% extends "follower/base.html" %}

{%block content %}

<form action="" method="POST">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Submit"/>
</form>

{% if form.user.value  %}
<h2>Message History</h2>
<table class="base-table">
<tr><th>subject</th><th>contact_date</th><th>body</th></tr>
{% for reach in reach_outs %}
<tr>
  <td>{{ reach.subject }}</td>
  <td>{{ reach.contact_date }} </td>
  <td>{{ reach.body }} </td>
</tr>
{% endfor %}
</table>

<iframe src="http://www.openstreetmap.org/user/{{form.user.value}}"  width="100%" height="300px" />

{% endif %}

{% endblock %}

