{% extends "follower/base.html" %}

{% block content %}

<form action="/reach_out/create", method="post">
{% csrf_token %}
<div id='email'>
<h2>Select the Email to send</h2>
  <table class="base-table">
<tr><th></th> <th>Subject</th><th>Body</th></tr>
{% for email in emails %}
  <tr class="{% cycle 'table-row-even' 'table-row-odd' %}" >
    <td>
      <input type="radio" name="email" value="{{email.id}}" />
    </td>
   <td>{{email.subject}}</td>
   <td>{{email.text}}</td>
  </tr>
{% endfor %}
</table>	     
</div>
<p>
This email will be sent the the following mappers
<div id='mapper-list'>
<table>
{% for m in mappers %}
<tr><td>{{m.user}}</td>
<input type="hidden" name="mapper_{{ forloop.counter0}}" value="{{m.id}}" />
</tr>
{% endfor %}
<input type="hidden" name="mapper_count" value="{{mappers|length}}" />
</table>
</div>
Enter Your OSM credentials for sending the message
<table class="base-table">
<tr>
<td>
OSM User Id
</td>
<td>
<input type="text" name="osm_user" />
</td>
</tr>
<tr>
<td>
OSM Password
</td>
<td>
<input type="password" name="osm_password"/>
</td>
</tr>
</table>
<input type="submit" name="send" />
</form>

{% endblock %}
